@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Blinker', sans-serif;
  background-color: #E0FFFF;
  text-align: center;
}

.flex {
  display: flex;
}

.navbar {
background-color: #AFEEEE;
padding: 1rem 2rem;
border-bottom: 1px solid grey;
text-align: left;
} 


.sidebar {
  background-color:#AFEEEE;
  width: 30rem;
  height: calc(100vh - 52px);
  border-right: 1px solid grey;
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        &.active {
          background-color: #e7e9eb;
        }
      }
    }
  }
}
  